.button {
  position: relative;
  z-index: 1;
  border-radius: 3px;
  box-sizing: border-box;
  color: currentColor;
  user-select: none;
  outline: 0;
  border: 0;
  display: inline-block;
  padding: 0 6px;
  margin: 6px 0;
  line-height: 36px;
  min-height: 36px;
  height: 1px;
  background: 0 0;
  white-space: nowrap;
  //min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1)
            , background-color .4s cubic-bezier(.25,.8,.25,1);

  &.block {
    width: 100%;
  }

  &.flat, &.link {
    @include box_shadow(0);
  }
  &.flat {
    &:not(.disabled) {
      &:hover {
        background-color: rgba(158,158,158, .2);
      }
      &:active,
      &.active {
        background-color: rgba(158,158,158, .4);
      }
    }
  }
  &.link {
    padding: 0;
    .button {
      &-text {
        text-transform: none;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75);
        font-size: 1.8rem;
      }
    }
  }
  &.raised {
    border-radius: 50%;
    overflow: hidden;
    &:not(.disabled):active {
      @include box_shadow(2);
    }
  }

  &.primary,
  &.accent {
    color: white;
  }
  &.disabled {
    @include box_shadow(0);
    color: $gray-darker;
    cursor: default;
  }
  &.primary {
    background-color: $primary;
    &.disabled {
      background-color: lighten($primary, 20%);
      color: white;
    }
    &:not(.disabled) {
      &:hover {
        background-color: darken($primary, 10%);
      }
      &:active {
        background-color: darken($primary, 15%);
      }
    }
  }
  &.accent {
    background-color: $accent;
    &.disabled {
      background-color: lighten($accent, 10%);
      color: white;
    }
    &:not(.disabled) {
      &:hover {
        background-color: darken($accent, 10%);
      }
      &:active {
        background-color: darken($accent, 15%);
      }
    }
  }

  &.icon {
    min-width: 0;
    border-radius: 50%;
  }

  &:before,
  &-inner {
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    margin-left: -1px;
  }
  &-inner {
    //font-size: 0;
    //line-height: 1;
    font-size: 1px;
    line-height: 20px;
    &:before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 100%;
      margin-left: -1px;
    }
  }

  &-icon, &-text {
    display: inline-block;
    vertical-align: middle;
  }
  &-icon {
    font-size: 1.6rem;
    line-height: inherit;
    & + .button-text {
      margin-left: 1rem;
    }
  }
  &-text {
    font-size: 1.6rem;
    margin: 0 6px;
    line-height: 1;
    //& + .button-icon {
    //  margin-right: 1rem;
    //}
  }

  // Sizes
  &.large {
    line-height: 48px;
    min-height: 48px;
    min-width: 48px;
    .button {
      &-text {
        //line-height: 48px;
        //min-height: 48px;
        font-size: 1.8rem;
      }
    }
  }

  &.medium {

  }

  &.small {

  }

  &.mini {

  }

}