.field {
  display: block;
  font-family: $font-family;
  background-color: transparent;
  cursor: text;
  outline: none;
  outline: 0;

  &-control {
    font-size: 15px;
    line-height: 16px;
    width: 100%;
    min-height: 60px;
    padding: 24px 0 5px 0;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    position: relative;

    > textarea {
      min-width: 100%;
      max-width: 100%;
    }

  }

  &-block {
    display: block;
    .field-control {
      width: 100%;
    }
  }

  &.hidden {
    display: none;
  }

  &-label {
    position: absolute;
    color: rgb(155, 155, 155);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    z-index: 0;
    transform: translateZ(0) translate3d(0,56px,0) scale(1);
    transform-style: preserve-3d;
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    bottom: 100%;
    left: 0;
    right: auto;
    backface-visibility: hidden;
    padding: 4px 0 4px;
    line-height: 23px;
    sup {
      line-height: 16px;
      font-size: 10px;
      display: inline-block;
      vertical-align: text-top;
    }
  }
  &-entry {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 6px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.870588);
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0);
    &:disabled,
    &:read-only {
      user-select: none;
      cursor: default;
    }
    &:disabled {
      color: rgba(0, 0, 0, 0.38);
    }
  }

  &.is-focused,
  &.has-value {

    &.floating {
      .field-label {
        opacity: 1;
        color: rgba(0,0,0,0.54);
        transform: translateZ(0) translate3d(0,38px,0) scale(.75);
        transition: transform cubic-bezier(.25,.8,.25,1) .4s,
                    width cubic-bezier(.25,.8,.25,1) .4s,
                    opacity cubic-bezier(.25,.8,.25,1) .4s;
      }
    }
  }

  &.is-focused {
    &.floating {
      .field-label {
        opacity: 1;
        color: $accent;
      }
    }
    .field-border-focus {
      transform: scaleX(1);
    }
    &.required {
      .field-label sup {
        color: $danger;
      }
    }
  }

  &.has-value {
    .field-label {
      opacity: 0;
    }
  }

  // Border bottom
  &-border {
    border: 0;
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    bottom: 4px;
    margin: 0;
    position: absolute;
    width: 100%;
    &-focus {
      bottom: 4px;
      z-index: 1;
      border-bottom: 2px solid $accent;
      transform: scaleX(0);
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }

  // Validation
  &-valid {
    font-size: 0;
    line-height: 16px;
    display: block;
    .svg, > span {
      display: inline-block;
      vertical-align: middle;
    }
    .svg {
      margin-right: 5px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    > span {
      font-size: 12px;
    }
  }
  &-helper {
    line-height: 20px;
    font-size: 12px;
    display: block;
    color: $font-color;
  }
  &.success {
    .field {
      &-border  { border-color: $success; }
      &-valid   { color: $success; }
      &-label   { color: $success; }
    }
    &.is-focused,
    &.has-value {
      &.floating {
        .field-label {
          color: $success;
        }
      }
    }
  }
  &.warning {
    .field {
      &-border  { border-color: $warning; }
      &-valid   { color: $warning; }
      &-label   { color: $warning; }
    }
    &.is-focused,
    &.has-value {
      &.floating {
        .field-label {
          color: $warning;
        }
      }
    }
  }
  &.danger {
    .field {
      &-border  { border-color: $danger; }
      &-valid   { color: $danger; }
      &-label   { color: $danger; }
    }
    &.is-focused,
    &.has-value {
      &.floating {
        .field-label {
          color: $danger;
        }
      }
    }
  }
}