/** {
  box-sizing: border-box;
}*/
//@import "./variables";

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family;
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

@import "./scss/helpers/clearfix";
@import "./scss/helpers/display";
@import "./scss/helpers/grid";
@import "./scss/helpers/margin";
@import "./scss/helpers/type";

@import "./scss/mixins/Modal";

@import "./components/Ripple";
@import "./components/Paper";

@import "./components/Autocomplete/Autocomplete";
@import "./components/Button/Button";
@import "./components/Carousel/Carousel";
@import "./components/Checkbox/Checkbox";
@import "./components/Chips/Chips";
@import "./components/DatePicker/DatePicker";
@import "./components/DropDown/DropDown";
@import "./components/Icon/Icon";
@import "./components/Field/Field";
@import "./components/List/List";
@import "./components/Loader/Loader";
@import "./components/Menu/Menu";
@import "./components/Modal/Modal";
@import "./components/Notify/Notify";
@import "./components/Radio/Radio";
@import "./components/Selection/Selection";
@import "./components/SelectionGroup/SelectionGroup";
@import "./components/Slider/Slider";
@import "./components/Switch/Switch";
@import "./components/Table/Table";
@import "./components/Tabs/Tabs";
@import "./components/Tooltip/Tooltip";
@import "./components/Progress/Progress";
@import "./components/Pagination/Pagination";

